In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test_hw05_question2') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/24 10:38:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
!rm -rf data/raw/fhv

In [3]:
!./download_data.sh fhv 2019 10

downloading https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz to data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz
--2024-02-24 10:38:43--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.248.137.48
Connecting to github.com (github.com)|20.248.137.48|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T233729Z&X-Amz-Expires=300&X-Amz-Signature=0711832786147a0c8dfda6d6f7e748a14e936ee288fbb8c9faa53c972b674cf6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-24 10:38:43--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240223T233729Z&X-Amz-Expires=300&X-Amz-Signature=0711832786147a0c8dfda6d6f7e748a14e936ee288fbb8c9faa53c972b674cf6&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz’

data/raw/fhv/2019/1 100%[===================>]  18.48M  5.08MB/s    in 3.6s

2024-02-24 10:38:47 (5.16 MB/s) - ‘data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz’ saved [19375751/19375751]

In [4]:
!gzip -d data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz # decompress to data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv

In [5]:
!wc -l data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv

 1897494 data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv

In [6]:
df = spark.read \
    .option("header", "true") \
    .csv('data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv')

In [7]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [8]:
!head -n 100 data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv > data/head.csv

In [9]:
!pip install pandas pyarrow

Requirement already satisfied: pandas in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (2.2.0)
Requirement already satisfied: pyarrow in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (15.0.0)
Requirement already satisfied: pytz>=2020.1 in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: tzdata>=2022.7 in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: You are using pip version 22.0.4; however, version 24.0 is available.
You should consider upgrading via the '/Users/mhack/.pyenv/versions/3.10.3/envs/pyspark/bin/python3.10 -m pip install --upgrade pip' command.

In [10]:
import pandas as pd

In [11]:
df_pandas = pd.read_csv('data/head.csv')

In [12]:
df_pandas.dtypes

dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID                int64
DOlocationID                int64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [13]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', LongType(), True), StructField('DOlocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [14]:
df_pandas

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,NaN,B00013
2,B00014,2019-10-01 00:11:43,2019-10-01 00:37:20,264,264,NaN,B00014
3,B00014,2019-10-01 00:56:29,2019-10-01 00:57:47,264,264,NaN,B00014
4,B00014,2019-10-01 00:23:09,2019-10-01 00:28:27,264,264,NaN,B00014
...,...,...,...,...,...,...,...
94,B00310,2019-10-01 00:12:11,2019-10-01 00:28:41,264,254,NaN,B00310
95,B00310,2019-10-01 00:06:02,2019-10-01 00:14:04,264,242,NaN,B00310
96,B00310,2019-10-01 00:03:43,2019-10-01 00:07:26,264,213,NaN,B02534
97,B00310,2019-10-01 00:37:14,2019-10-01 00:51:58,264,241,NaN,B02879
98,B00310,2019-10-01 00:42:41,2019-10-01 00:54:42,264,213,NaN,B02875

In [15]:
from pyspark.sql import types

In [16]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [17]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv')

In [18]:
df = df.repartition(6)

In [19]:
df.write.parquet('data/parquet/fhv/2019/10', mode = 'overwrite')

In [20]:
!ls -lah data/parquet/fhv/2019/10/*.parquet

-rw-r--r--  1 mhack  staff   6.0M 24 Feb 10:38 data/parquet/fhv/2019/10/part-00000-5454eb70-e0a7-4fd6-807f-764e6161d714-c000.snappy.parquet
-rw-r--r--  1 mhack  staff   6.0M 24 Feb 10:38 data/parquet/fhv/2019/10/part-00001-5454eb70-e0a7-4fd6-807f-764e6161d714-c000.snappy.parquet
-rw-r--r--  1 mhack  staff   6.0M 24 Feb 10:38 data/parquet/fhv/2019/10/part-00002-5454eb70-e0a7-4fd6-807f-764e6161d714-c000.snappy.parquet
-rw-r--r--  1 mhack  staff   6.0M 24 Feb 10:38 data/parquet/fhv/2019/10/part-00003-5454eb70-e0a7-4fd6-807f-764e6161d714-c000.snappy.parquet
-rw-r--r--  1 mhack  staff   6.0M 24 Feb 10:38 data/parquet/fhv/2019/10/part-00004-5454eb70-e0a7-4fd6-807f-764e6161d714-c000.snappy.parquet
-rw-r--r--  1 mhack  staff   6.0M 24 Feb 10:38 data/parquet/fhv/2019/10/part-00005-5454eb70-e0a7-4fd6-807f-764e6161d714-c000.snappy.parquet

In [ ]:
print('-- 6MB --')